.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color:white;
}

.videothumbnil{
  width: 320px;
  height: 180px;
  border-top-right-radius: 10px;
  border-top-left-radius :10px;
  
}
#logcircle{
  border: 0.1px solid black;
  border-radius:50%;
  width:40px;
  height: 40px;
  margin-left: 5px;
  margin-top: -8px;

}
.logo{
  width:40px;
  border-radius: 50%; 
}

h4{
  margin-top: 3px;
  margin-left: -50px;
 
}

.video-card{
  display: inline-block;
  border: 1px solid black;
  width: 320px;
  text-align: center;
margin: 10px 7px;
border-radius:10px ;

}

#channelName{
  color: gray;
  font-weight: 400;
  margin-left: -12px;
  
}
#views{
  color: blue;
  font-weight: 400;
  margin-top: -10px;
  margin-left: 20px ;
  font-size: 14px;

}

#viewchannel{
  margin-top: -50px;
  margin-left: -85px;
 padding: 0px;
  
}
